.display_text_completed {
  color: lime;
}

.display_text_current {
  /* color: white; */
  /* background: #00000055; */
  /* border-radius: 2px; */
  text-decoration: underline;
}
.correct {
  color: blue;
}
.wrong-char {
  color: gray;
}
